body{
    font-family: 'montesirat', sans-serif;
}
.container{

    max-width: 1110px;
    margin: 0 auto;
}
.menu{
    display:  flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    margin: 10px;
    text-transform: uppercase;
    
}

.logo{
    font-size: 30px;
    font-weight: 900;
    color: #1877c9;
}
.menu .links a{
    font-size: 15px;
    color:  #000;
    font-weight: 600;
}
.cart{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1877c9;
    color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.card{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: rgba(1, 1, 31, 0.3);
    border-radius: 0px 0px 10px 10px;
    color: #fff;
}
.info span{
    font-size: 1.5rem;
    margin: 10px;
}

.btn{
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 10px 15px;
    background-color: #1877c9;
    border-radius: 50%;
    border: 0;
    right: 10px;
    margin-top: 10px;
    color: #FFF;
    cursor: pointer;
}

.btn-secondary{
    background-color: rgba(255, 0, 0, 0.751);
}

.cart-container{
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
    grid-gap: 10px;
    padding: 30px;
    place-items: center;
}


.cart-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 20px;
    border-right: 1px solid #ccc;
}
.cart-product{
    display: grid;
    padding: 10px;
    width: 95%;
    grid-template-columns: 3fr 1fr 1fr;
    border-top: 1px solid #ccc;
    place-content: center;
}
.cart-product img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #ccc;
}

.cart-product span{
    font-size: 1.2rem;
    font-weight: 500;
}

.cart-title-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.cart-title-img *{
    padding: 0 10px;
}
.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.tottal-price{
    border-top: 1px solid #ccc;
}

.payment-cards{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 0;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
.form-control{
    width: 82%;
    padding: 20px;
    margin: 0 12px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: 0;
}
.btn-proceed{
    width: 94%;
    margin: 10px 12px;
    background-color: rgb(24    , 119, 201);
    padding: 20px;
    border: 0;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.payment-cards:hover,
.payment-cards.selected{
    background-color: rgba(24, 118, 201, 0.159);
    border: 1px solid rgb(8, 92, 168);
}

.form-control:focus{
    border: 2px solid rgb(8, 92, 168);
}